<p>Yo dawg!</p>
<p>Another kid has signed up! :D</p>
<p>Here's their info:</p>
<p>
	First Name: <%= @user.first_name %><br />
	Last Name: <%= @user.last_name %><br />
	Form: <%= @user.form %><br />
	Tuesday: <%= @user.tuesday %><br />
	Wednesday: <%= @user.wednesday %><br />
	Thursday: <%= @user.thursday %><br />
	Subjects:<br />
	<tbody>
		<tr>
			<th>Name</th>
			<th>Focus Areas</th>
		</tr>
		<% @user.subjects.each do |subject| %>
			  <tr>
          <td><%= subject.name %></th>
          <td><%= subject.description %></th>
        </tr>
		<% end %>
	</tbody><br />
	Parent's Name: <%= @user.parent_name %><br />
	Parent's Email: <%= @user.email%><br />
	Parent's Contact Number: <%= @user.contact %><br />
	Receive reports?: <%= @user.reports %><br />
</p>



