<header class="navbar navbar-default navbar-static-top">
  <%= link_to(image_tag("smaat_logo.png",:size => "150x150",:alt=> "logo",:title => "Home") , "/", class: "brand" )%>
  <div class="navbar-inner">
    <span class="container">
      <nav>
        <ul class="nav navbar-nav">
          <li><%= link_to "Home", root_path %></li>
          <li><%= link_to "Information", info_path %></li>
          <li><%= link_to "Why SMAAT?", why_smaat_path %></li>
          <li><%= link_to "Contact", contact_path %></li>
          <li><a href="/assets/term3_notice_2015.pdf" download="term3_notice_2015.pdf">Calendar</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
          <%= render 'layouts/registration_items' %>
        </ul>
      </nav>
    </span>
  </div>
</header>
